$default-transition-duration: 0.4s;
$default-transition-function: ease-in-out;

//COLORS

$night: #262c40;
$white: #ffffff;
$deepSea: #0d356c;
$azure: #0057b6;
$clearSky: #508be2;
$winterCloud: #cedff4;
$iceCube: #e9f1f9;
$asphalt: #7c8793;
$greyMouse: #b8bdce;
$silverMoon: #d7dee9;
$rainySky: #e6eaf0;
$polarStar: #eef1f3;
$jonSnow: #f7f9fb;
$redRose: #a32b2b;
$red: #c84f4f;
$pastelRed: #d26363;
$powder: #f4dcdc;
$harlequin: #239c3d;
$green: #65cc7b;
$paleTeal: #76dc8c;
$mint: #e1f5e5;
$choco: #d76913;
$orange: #f5984e;
$blue: #2157f4;
$violet: #5960ea;
